body {
    background: #eeeeee;
}

.invoice-body {
    margin-top: 100px;
    margin-bottom: 100px;
    border: 1px solid #000;
    padding: 50px;
    background: #fff;
    color: #757575;
}

.invoice-header {
    margin-top: 100px;
}

.invoice-sub-header-input {
    margin-top: 50px;
}

.invoice-sub-header-output {
    margin-top: 50px;
}

.invoice-input-form {
    border: 1px solid #000 !important;
    padding-left: 20px !important;
}

.invoice-input-form-half {
    border: 1px solid #000 !important;
    padding-left: 10px !important;
    margin-left: 3px !important;
}

#item_sold:focus {
    border: 1px solid #000 !important;
}

.invoice-sub-header-form {
    margin-top: 30px;
}

.item-details {
    margin-top: -25px !important;
    width: 185.7px !important;
}

.item-details-data {
    margin-top: -15px !important;
}

.item-header {
    padding: 15px;
}
